* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", "monospace";
    font-size: 12px;
    min-height: 0;
    margin: 0px;
    transition: all 0.3s ease;
}

window#waybar {
    background: rgba(40, 40, 40, 0.8);
    color: #ebdbb2;
    border-bottom: 2px solid #282828;
}

#window {
    color: #ebdbb2;
    font-weight: bold;
    padding: 0 10px;
}

#workspaces {
    padding: 0 5px;
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    margin: 4px 3px;
    background: #3c3836;
    color: #ebdbb2;
    border: 1px solid #504945;
    font-weight: bold;
}

#workspaces button:hover {
    background: #504945;
    box-shadow: 0 0 5px rgba(251, 241, 199, 0.3);
}

#workspaces button.focused {
    background: #d79921;
    color: #282828;
    border: 1px solid #fabd2f;
}

#workspaces button.urgent {
    background: #cc241d;
    color: #282828;
}

#mode {
    background: #cc241d;
    color: #282828;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode,
#language {
    padding: 0 8px;
    margin: 4px 3px;
    background: #3c3836;
    color: #ebdbb2;
}

#battery.charging {
    background: #98971a;
    color: #282828;
}

@keyframes blink {
    to {
        background-color: #cc241d;
        color: #282828;
    }
}

#battery.warning:not(.charging) {
    background-color: #d65d0e;
    color: #282828;
}

#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #282828;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: #3c3836;
    color: #98971a;
}

#memory {
    background: #3c3836;
    color: #d79921;
}

#network {
    color: #83a598;
}

#network.disconnected {
    background: #cc241d;
    color: #282828;
}

#pulseaudio {
    color: #b8bb26;
}

#pulseaudio.muted {
    background: #3c3836;
    color: #504945;
}

#tray {
    background: #3c3836;
}

#custom-spotify {
    color: #98971a;
}

/* Add some hover effects */
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover {
    background: #504945;
    box-shadow: 0 0 5px rgba(251, 241, 199, 0.3);
}
